header
{
	width:80%;
	margin:10px auto 10px auto;
}

header img 
{
	width:150px;
}

header h1
{
	margin:50px 10px auto 10px;
	color:red;
	font-family:Lucida Bright;	
	font-size : 175%; 
	font-style : italic ;
	float:right;
	text-shadow: 2px 2px #FFEB3B;
}
hr
{
	display: block;
	width:80%;
	color:red;
    margin: 0.5em auto 0.5em auto;
    border:1px inset red;
}
nav 
{
	font-size:20px;	
	font-family:Lucida Bright;
}
nav li 
{
	display:inline;
	padding:10px;
}
nav ul
{
	padding:0% 10%;
}

.box1 
{
	width: 80%;
	margin: 10px auto 10px auto;
	padding: 10px;
	border-radius: 20px;
	border:3px solid green;
	color:white;
	background-color:rgba(78, 6, 56, 0.65);
	opacity:0.85;
	text-align:justify;
}

body 
{
	color : white; 
	font-family: Times New Roman; 
	font-size : 16pt; 
	background-image:url(images/image1.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	background-attachment: fixed;
}

a:active {color: white; text-decoration: none}
a:visited {color: white; text-decoration: none}
a:link {color: white; text-decoration: none}
a:hover {color: gray; background-color:#c3e3d0; text-decoration: none}
.greetbox  
{
	width:80%;
	height:400px;
	background-image:url("images/greet.png");
	background-repeat:no-repeat;
	background-size:100%;
	margin:10px auto 10px auto;
	padding:10px; 
	border: 5px solid #ffcc13;
	border-radius: 50px;
	box-shadow: 10px 10px 5px #0a0909;
}
#greettext
{
	color:red;
	font-family:Lucida Bright;	
	font-size : 175%; 
	font-style : italic ;
	float:left;
	text-shadow: 2px 2px #FFEB3B;
}


.section1
{
	width:80%;
	color : white; 
	font-family: Times New Roman; 
	font-size : 16pt; 
	text-align:justify;		
}
.section1 h2 {font-size:22pt; color:rgb(61, 255, 0) ; text-align:left;margin:10px;}
.section1 h3 {font-size:20pt; color:#FFEB3B ; text-align:left; margin:5px;}
.section1 h4 {font-size:18pt; color:rgb(244, 67, 54) ; text-align:left; margin:5px;}
.salon  
{
	width:80%;
	height:400px;
	background-image:url("images/image3.jpg");
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin:10px auto 10px auto;
	padding:10px; 
	border: 5px solid #ffcc13;
	border-radius: 50px;
	box-shadow: 10px 10px 5px #0a0909;
}
article
{
	padding:10px 20px;
}
article b {color:deeppink;}

.list1 {color:yellow;}

dt 
{
	color:deeppink;
	text-decoration:none;
}

footer
{
	font-style:italic;
	font-weight:bold;
	font-family:verdana;
	font-size:20px;
	text-align:center;
	color:white;
}


.productTable
{
	font-family: verdana;
	font-align :center;
	border-collapse: collapse;
	margin-left:0px;
	margin-right:0px;		
}

.productTable th 
{
	border: 5px solid green;
	padding: 10px;
	text-align:center;
	width: 10%;
	color: cyan;
	font-size: 30;			 
}

.productTable td 
{
	border: 4px solid green;
				
}

#smallBox
{
	background-image:url("images/newshampoo.jpg");
	background-size: cover;
	padding:10px; 
	border: 5px solid #ffcc13;
	border-radius: 50px;
	box-shadow: 10px 10px 5px #0a0909;
	font-size:22px;
	font-weight:bold;
	color:deeppink;	
	width:200px;
	height:200px;
	text-align:center;
	background-color:yellow;
	position:absolute;
	top:0px;
	left:0px;
}



